.wrapper {
	position: relative;
	cursor: pointer;
}

.menu {
	text-decoration: none;
	font-size: calc(20px + (24 - 20) * ((100vw - 320px) / (1432 - 320)));
	position: absolute;
	left: 0;
	top: 57px;
	visibility: hidden;
	opacity: 0;
	z-index: 5;
	width: 160px;
	transform: perspective(600px) rotateX(-90deg);
	transform-origin: 0% 0%;
	transition: 0.6s ease-in-out;
	background: #6a4d51;
	border: 2px solid #6a4d51;
	border-top: none;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 10px;

	text-align: center;
}

.link {
	text-decoration: none;
	color: #d7aaaa;
	font-size: calc(20px + (22 - 20) * ((100vw - 320px) / (1432 - 320)));
}

.link:hover {
	border-bottom: 2px solid #d7aaaa;
	transition: 0.2s linear;
}

.li {
	list-style: none;
	margin-top: 6px;
}

.btn {
	display: inline-block;
	vertical-align: top;
	border: 2px solid #d7aaaa;
	background-color: #69615b;
	background: none;
	font-size: calc(22px + (24 - 22) * ((100vw - 320px) / (1432 - 320)));
	line-height: 1.1;
	color: rgb(248, 248, 239);
	font-weight: 400;
	text-align: center;
	text-decoration: none;
	text-decoration: uppercase;
	padding: 0.8rem 1.4rem;
	border-radius: 1.8rem;
	cursor: pointer;
	font-family: inherit;

	transition: color 0.2s linear, background-color 0.2s linear,
		box-shadow 0.2s linear;
}

.btn::after {
	content: '';
	display: inline-block;
	margin-bottom: 0.15em;
	margin-left: 0.5em;
	width: 0.8em;
	height: 0.8em;
	border-top: 0.15em solid;
	border-right: 0.15em solid;
	-moz-transform: rotate(133deg);
	-webkit-transform: rotate(133deg);
	transform: rotate(133deg);
}

@media (max-width: 1200px) {
	.btn {
		width: 160px;
	}
}

.active .btn::after {
	transform: rotate(-44deg);
	margin-bottom: -0.3em;
}

.btn:hover {
	color: #69615b;
	background-color: #d7aaaa;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.active .menu {
	display: block;

	visibility: visible;
	opacity: 1;
	transform: perspective(600px) rotateX(0deg);
}
