.contacts {
	display: flex;
	flex-direction: column;
	padding: 5px;
}

.content {
	font-family: fangsong;
	margin: 30px 10px;
}

.title {
	margin-bottom: 30px;
	font-size: 42px;
}

.subtitle {
	margin: 10px 0;
	font-size: 28px;
	font-weight: 400;
}

.phone {
	font-size: 28px;
	font-weight: 700;
	margin-bottom: 15px;
}

.text {
	font-size: 28px;
	font-weight: 700;
}

.textLight {
	font-weight: 400;
	font-size: 28px;
}

.wrapper {
	margin: 30px 0;
}

.link {
	font-family: fangsong;
	text-decoration: none;
	color: black;
	font-size: 1.6vw;

	&:hover {
		text-decoration: underline;
	}
}

.dgWidgetWLink {
	margin: 10px;
}

@media (max-width: 1200px) {
	.title {
		font-size: calc(28px + (42 - 28) * ((100vw - 320px) / (1432 - 320)));
		margin-bottom: calc(10px + (30 - 10) * ((100vw - 320px) / (1432 - 320)));
	}

	.subtitle {
		font-size: calc(18px + (28 - 18) * ((100vw - 320px) / (1432 - 320)));
	}

	.text {
		font-size: calc(18px + (28 - 18) * ((100vw - 320px) / (1432 - 320)));
	}

	.textLight {
		font-size: calc(18px + (28 - 18) * ((100vw - 320px) / (1432 - 320)));
	}

	.wrapper {
		margin-bottom: calc(10px + (30 - 10) * ((100vw - 320px) / (1432 - 320)));
		margin-top: calc(10px + (30 - 10) * ((100vw - 320px) / (1432 - 320)));
	}
	.link {
		font-size: calc(14px + (28 - 14) * ((100vw - 320px) / (1432 - 320)));
	}
}
