.service {
	@media (max-width: 1200px) {
		margin-top: calc(55px + (95 - 55) * ((100vw - 320px) / (1432 - 320)));
	}
}

.wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: center;
	align-items: center;
	margin: 20px 0;
}
