.wrapper {
	/* background-image: url('./images/фон.jpg');
	background-repeat: no-repeat;
	background-position: left;
	background-size: cover; */

	@media (max-width: 1200px) {
		margin-top: calc(55px + (95 - 55) * ((100vw - 320px) / (1432 - 320)));
	}
}
