.link {
	text-decoration: none;
}

.photo {
	width: 23%;
	height: calc(200px + (280 - 200) * ((100vw - 320px) / (1432 - 320)));

	overflow: hidden;
	border-radius: 5px;

	@media (max-width: 1200px) {
		width: 30%;
	}
	@media (max-width: 767px) {
		width: 48%;
	}
	@media (max-width: 320px) {
		width: 100%;
	}
}

.img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.active {
	transform: scale(2.5);
	transition: transform 400ms ease-in-out;

	/* position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); */
	filter: drop-shadow(1px 2px 6px #000);

	@media (max-width: 1200px) {
		transform: scale(1.8);
	}
	@media (max-width: 767px) {
		transform: scale(1.6);
	}

	@media (max-width: 320px) {
		transform: scale(1.2);
	}
}
