.content {
	flex-grow: 1;
}

.wrapper {
	display: flex;
	padding: 0 2rem;
	background-color: #69615b;
}

.intro {
	width: 40%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: white;
}

.title {
	font-size: 3vw;
	margin: 0;
	z-index: 2;
}

.subtitle {
	font-size: 2vw;
	z-index: 2;
}

.photo {
	width: 60%;
	min-height: 60vh;
	position: relative;
	overflow: hidden;
}

.img {
	max-height: 100%;
	max-width: 100%;
	object-fit: cover;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 1;
	margin: auto;
}
